/*
	Styles CSS pour toutes les pages, contient 
		- Retire les marg pour le body & html + taille de 100vh + no overflow
		- Scrool Bar custom
		- Polices des textes & no select & no marg :
			- p, h1, h2, h3, h4, h5, b
		- Buttons custom + on Hover
		- Bar de séparation
		- Erreur pour les textarea pas/pas bien complèter
*/
html{
	cursor : url("../img/curseur/curseur.png"), auto;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
b {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	user-select: none;
}

a {
	text-decoration: none;
	color: white;
}

p {
	display: flex;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #4984b8;
}

.button-black {
	height: 2.5vh;
	width: auto;
	margin-left: 2vw;
	padding: 0 0.5vw 0 0.5vw ;
	user-select: none;
	transition-duration: 1s;
	border-radius: 15px;
	background-color: white;
	border: none;
	color: black;
	box-shadow: 0px 0px 5px rgb(197, 197, 197);
}

.button-black:hover {
	cursor: url("../img/curseur/doigt.png"), auto;
	color: white;
	background-color: #4984b8;
}

.button-white {
	color: white;
	width: auto;
	margin-left: 2vw;
	user-select: none;
	transition-duration: 1s;
	border-radius: 15px;
	background-color: #4984b8;
	border: none;
	box-shadow: 0px 0px 5px rgb(197, 197, 197);
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.button-white:hover {
	cursor: url("../img/curseur/doigt.png"), auto;
	color: black;
	background-color: white;
}

.separation-bar {
	width: 75%;
	height: 0.5vh;
	background-color: rgb(197, 197, 197);
	border-radius: 15px;
	margin: auto;
	margin-top: 1vh;
}

.error {
	border: 1.25px solid red;
}

.validate {
	border: 1.5px solid green;
}