/* Base Créée par EUSOP Maxence le 17/01/2024 */

html,
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: white;
}

img {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    height: 100vh;
    width: auto;
    left: 50vw;
    transform: translateX(-50%);
    filter: blur(2px);
}

.boxOverall {
    display: block;
    position: absolute;
    top: 50vh;
    left: 50vw;
    background-color: lightgrey;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 50%;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 15px grey;
}

.boxTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4984b8;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 15%;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 5px black;
    user-select: none;
}

.boxAllQuestions {
    width: 100%;
    height: 80%;
    border-radius: 0 0 15px 15px;
    overflow: auto;
    padding-right: 20px;
}

.boxQuestion {
    background-color: #6C7984;
    display: block;
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
    user-select: none;
    box-shadow: 0 0 10px #4984b8;
}

::-webkit-scrollbar {
    background-color: #6C7984;
    width: 4px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #4984b8;
    border-radius: 15px;
}

button {
    background-color: #4984b8;
    color: white;
    height: 40px;
    width: 80px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0 15px grey;
    margin: 0px 20px 20px 20px;
    user-select: none;
    margin-left: 335px;
}

button:hover {
    background-color: #2b4f6e;
    cursor: url("../../img/curseur/doigt.png"), auto;
}

/* Ajout de code par FAUCONNNIER Sarah le 09/02/2024 */

label,
textarea {
  font-size: 13px;
  letter-spacing: 1px;
  color : black;
  margin-left: 15px;
}

#console {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  color : green;
  background-color: black;
  resize : none;
}

label {
  display: block;
  margin-bottom: 10px;
}

.scene{
    display: block;
    height: 25vh;
    width: 45vw;
    border-radius: 15px;
    filter: blur(0px);
    left: 25vw;
    margin: 5px;
}

 #dialogue{
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    color : black;
    background-color: grey;
    resize : none;
  }

.bouton-container {
    display: flex;
}

.bouton {
    height: 25px;
    margin-top: 3px;
    margin-left: 255px;
    margin-right: -175px;
}