html{
	cursor : url("../img/curseur/curseur.png"), auto;
}

body{
	background-image: url("../../img/interface/accueil.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	align-items: center;
	overflow: hidden;
	user-select: none;
}

label:hover{
	cursor: url("../../img/curseur/curseur.png"), auto;
}

img {
	pointer-events: none;
	user-select: none;
}
	
h1{
	text-align : center;
	size : 50%;
}
	
div{
	border-radius : 15px;
	background-color: white;
	width : 500px;
	height : 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align:center;
	position : absolute;
	box-shadow: 0 0 15px grey;
}
	
button {
	user-select: none;
	transition-duration: 0.5s;
	border-radius: 5px;
	background-color: white;
	border: none;
	box-shadow: 0px 0px 5px grey;
	margin-top: 0.5vh;
	margin-bottom: 0.5vh;
	margin-right : 0.5vh;
}
	
button:hover {
	cursor: url("../../img/curseur/doigt.png"), auto;
	color: white;
	background-color: #4984b8;
}

.prof{
	padding-right:85%;
	padding-top:-25%;	
	height : 150px;
	overflow : hover;
	position : relative;
}

.uphf{
	padding-right:50%;
	padding-top:-55%;	
	height : 150px;
	width : auto;
}

.resize{
	height : 320px;
	width : auto;
	margin-bottom:10px;
}

.boite{
	border-radius: 5px;
	color : black;
	border: 2px solid black;
}

	